#jumboHeader {
  color: white;
  background-color: #6d532b;
  text-align: center;
}

#card {
  border-color: #2c75c3;
}

#cardHeader {
  color: white;
  background-color: #2c75c3;
}

#submitBtn {
  color: white;
  background-color: #2c75c3;
}
